@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{

    /* basic crucial designing here */

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Iti", cursive;

    /* basic crucial designing here */

}

body{

    /* all background image designing here  */

    background: url(bg.png);
    width: 100%;
    height: 100dvh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

    /* all background image designing ends here  */

}

body::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100dvh;  
}

/* backdrop-filter:blur(_px) */

.header{
    position:fixed;
    top: 0%;
    width: 100%;
    height: 35px;
    text-align: center;
    font-size: xx-large;
    text-decoration: none;
    padding: 5px;
    color: rgb(255, 255, 255);
    font-family: "Iti", cursive;
    /* transition: left 2s; */

    
}

h1{
    text-align: center;
    font-size: xx-large;
    color: white;
    margin-top: 2%;
}

.city-name{
    width: 460px;
    height: 33px;
    margin-left: 40px;
    margin-top: 7%;
    text-align: center;
    backdrop-filter: blur(10px);
    /* border: 3px solid transparent; */
    outline: none;
    border-radius: 98px;
    border-style: double;
    border-color: white;
    background: rgb(0, 0, 0, 0.1);
    /* transition:  height 4s  ease-in 2s; */
    position: relative;
    padding-right: 50px;
    padding-left: 15px;
}

.city-name::placeholder{
    color: white;
}


.search{
    position: absolute;
    transform: translateY(-0.8%);
    top: 17.75%;
    right: 13.7%;
    color: white;
    border-style: none;
    background: none;
    cursor: pointer;


}


.world-clock-box{
    /* border - designing begins here  */

    border-style: solid;
    border-width: 6px;
    border-color: white;

    /* border designing ends here */

    /* container specifications for better look */

    width: 600px;
    height: 600px;
    margin-bottom: 3%;
    margin-top: 5%;
    margin-left: 70px;
    margin-right: 55px;
    
}

.world-clock-inner-box{

    /* another-container border designing  */
    
    border-style: solid;
    border-width: 2px;
    border-color: white;

    width: 560px;
    height: 560px;
    margin-top: 2.3%;
    margin-bottom: 2.3%;
    margin-left: 2.3%;
    margin-right: 2.3%;

    backdrop-filter: blur(12px);

} 