@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{

    /* basic crucial designing here */

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Iti", cursive;

    /* basic crucial designing here */

}

body{

    /* all background image designing here  */

    background: url(bg.png);
    width: 100%;
    height: 100dvh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

    /* all background image designing ends here  */

}

body::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100dvh;  
}

/* backdrop-filter:blur(_px) */

.header{
    position:fixed;
    top: 0%;
    width: 100%;
    height: 35px;
    text-align: center;
    font-size: xx-large;
    text-decoration: none;
    padding: 5px;
    color: rgb(255, 255, 255);